.contact_container{
    display: flex;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100vw;    
    height: 800px;
   
    }
.contact{

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 95%;
    padding: 5%;
    gap: 20px;
}

.contact > h1{

    text-transform: uppercase;
}
.contact > p{

    line-height: 34px;
    font-size: 24px;
}
    
  