.textslider_container{
    display: flex;
    height: auto;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 0;


}
.bg_text:nth-child(1){

    justify-content: center;
    display: flex;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
    color: black;
    opacity: .3;
    
    
}
.bg_text:nth-child(2){

 
    display: flex;
    position: absolute;
    left: 100%;
     justify-content: center;
    opacity: .3;
    width:100%;
    text-transform: uppercase;
    color: gray;
  
}


.cta_button{
    height:50px;
    width: 150px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid gray;
    cursor: pointer;
    z-index: 2;
    font-size: 16px;
    color: gray;
}
.home_container{
    display: flex;
    overflow-x: hidden;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position:relative;
    overflow: hidden;
    height: auto;
    background-color: lightgray;

    }
    
.title{
    padding: 2%;
    width: 100%;
    text-align: center;
    align-self: center;
}

.hero_container{

    display: flex;
    gap:20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5%;
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #fff;
}
.hero_container > h1{

    z-index: 2;
    color: gray;
}
.hero_container > p{

    width: 70%;
    font-size: 24px;
    line-height: 32px;
    z-index: 2;
    color: gray;

}
.one{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
    width: 95%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 20px;
 
    }
.one > h1{

    padding-inline: 5%;
}


.one > p{
    align-self: flex-start;
    padding-inline: 5%;
    font-size: 16px;
    line-height: 32px;
}
.hero_img{

    width: 95%;
    height:  95%;
    position: relative;
    align-self: flex-end;
   
}
.two{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
    width: 95%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    }
.two h1:nth-child(1)
{

    font-size: 40px;
    
}
.two h1:nth-child(2)
{

    font-size: 32px;
    
}
.two h1:nth-child(3)
{

    font-size: 24px;
    
}
.two h1:nth-child(4)
{

    font-size: 16px;
    
}
.two h1:nth-child(5)
{

    font-weight: 200;
    font-size: 24px;
    
}
.two h1:nth-child(6)
{

    font-weight: 300;
    font-size: 32px;
    
}
.two h1:nth-child(7)
{

    font-weight: 400;
    font-size: 40px;
    
}
.two h1:nth-child(8)
{

    font-weight: 500;
    font-size: 48px;
    
}
.three{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
    width: 95%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    }
@media (max-width: 1024px) {

    .hero_container > p{

        width: 100%;
    }
}
    
@media (max-width: 600px) {
.hero_container{

    height: 700px;
}
.hero_container > p{

    width: 100%;
}

.home_container{
    margin-top: 55px;
}
.hero_container > p{

    font-size: 24px;
}
.one{
    padding: 0;
    padding-top: 10%;
}
    
}