  .home_container {
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: auto;
  }
  
/* HERO */ /* HERO */ /* HERO */ /* HERO *//* HERO */ /* HERO */ /* HERO */ /* HERO */

  .bg_text {
    justify-content: center;
    display: flex;
    text-transform: capitalize;
    z-index: 1;
    opacity: .7;
    color: white;
    padding-right: 10px;
    font-weight: 400;
    user-select: none;
  }
  
  .bg_text:nth-child(1) {
    position: absolute;
    left: 100%;
  }
  
  .bg_text2 {
    justify-content: center;
    display: flex;
    text-transform: capitalize;
    font-family: 'Handjet';
    z-index: 1;
    padding-right: 10px;
    font-weight: 500;
    user-select: none;
  }
  
  .bg_text2:nth-child(1) {
    position: absolute;
    left: 100%;
  }
  
  .hero_email{
    cursor: pointer;
    font-size: 16px;
    height: auto;
    width: auto;
    font-weight: bold;
    color: whitesmoke;
    background-color: transparent;
    user-select: none;
    padding-block: 1.2em;
    border-radius: 30px;
    padding-inline: 1.5em;
    border: 1px solid rgba(128, 128, 128, .3);
    margin-block: 1em;
  }

  .hero_email:hover{

    filter: brightness(90%);
    transition:  .5s;
  }

  .hero_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: var(--primary-color);
    width: 100%;
    height: 1600px;
    color: whitesmoke;
  }
  
  .hero_content {
    display: flex;
    transform: translateY(10%);
    flex-direction: column;
    width: 95%;
    align-items: center;
    height: auto;
    padding: 5%;
    z-index: 2;
  }
  .hero_nav{
    width: fit-content;
    height: fit-content;
    
  }
  .hero_image_container{
    height: 600px;    
    border: gray 1px solid;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
  }
  .hero_image{
    object-fit: cover;
  }
  
  .hero_title {
    position: relative;
    text-transform: uppercase;
    z-index: 2;
    font-size: 48px;
    font-weight: 700;
    letter-spacing:-1px;
    opacity: 0;
  }


  .hero_title:hover{
    filter: brightness(95%);
  }

  .herotext_container{

    width: 100;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
  }
  .hero_text {
   
    font-size: 32px;
    line-height: 1.5em;
    font-weight: 500;
    height: fit-content;
    z-index: 2;
    opacity: 0;
    overflow: hidden;
    margin-right: 5px; 
  }

  .textslider_wrapper {
    position: relative;
    opacity: 0;
    width: auto;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    /* background-color: #FAD320; */
    padding-block: 1em;
    border: 1px solid rgba(128, 128, 128, .3);
  }
  
  .textslider_container {
    display: flex;
    height: auto;
    z-index: 1;
    white-space: nowrap;
  }

    
  @media (max-width: 600px) {

    .bg_text {
      font-weight: 600;
    }
  
    .bg_text2 {
      font-weight: 400;
    }

  .hero_email{
    text-align: center;
    padding: 1em;
    margin-block: .5em;
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, .7);
    }

    .hero_container {
      align-items: center;
      height: 100vh;
     }
   
     .hero_container > p {
       width: 100%;
     }
   
     .hero_title {
       font-size: 28px;
       text-align: right;
       text-transform: capitalize;
       letter-spacing: 1px;
     }
 
     .hero_image_container{
      height: 400px;
     }
     .herotext_container{
       width: auto;
       
     }
 
     .hero_content{
       bottom: 25%;
       justify-content: flex-end;
       align-items: flex-end;
       width: 100%;
       gap: 0;
     
     }
  
     .hero_text {
       font-size: 16px;
       line-height: 16px;
       text-align: right;
       margin-right: 0;
     
     }
     
     .hero_img{
 
       width: 95%;
     }

    }
/* ONE */ /* ONE */ /* ONE */ /* ONE */ /* ONE */ /* ONE */ /* ONE */ /* ONE */ /* ONE */ /* ONE */ /* ONE */ /* ONE */

.gif_typing{
    height: 450px;
    width: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
    grid-area: three;
    transform: translateX(50%);
    opacity: 0;
    flex: 0;
    align-self: center;

}
  .one {
    display: grid;
    grid-template-areas: 'one one'
                         'two three'
                         'four three'
                         'four three';
    height: 800px;
    grid-template-columns: repeat(2, 1fr) ;
    width: 100%;
    justify-items: center;
    position: relative;
    overflow: hidden;
    padding: 1em;
  }

  .one_title_wrapper{
    display: flex;
    width: fit-content;
    align-self: center;
    grid-area: one;
  }
  .one_title_wrapper > h2 {
    position: relative;
    font-family: 'Handjet';
    border: gray 1px solid;
    padding: .5em;
    font-size: 32px;
    width: fit-content;
    align-self: center;
    border-radius: 30px;
    font-weight: 400;
  }
  .p_container > p {
    font-size: 24px;
    padding-block: 1em;
    width: 100%;
    text-transform: uppercase;
    flex: 1;

  }
  .p_container{
    width: 100%;
    opacity: 0;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 1em;
    padding-block: 2.5em;
    grid-area: two;
  }
  .one > p{
    width: 50%;
    text-align: right;
    width: auto;
    text-transform: uppercase;
    font-size: 16px;
    margin-inline: 5%;
    grid-area: four;
  }
  @media (max-width: 1024px){
    .one{
       grid-template-areas: 'one one one'
                            'two two two'
                            'four four four'
                            'three three three';
      }
  }

  @media (max-width: 600px){
    .one {
      display: flex;
      padding: 0;
      display: flex;
      width: 95%;
      align-items: flex-start;
      justify-content: space-evenly;
      padding-block: 1.5em;
      flex-direction: column;
    }

    .gif_typing{
      position: relative;
      width: 95%;
      height:200px;
      transform: translateX(50%);
      aspect-ratio: 1/1;
    }
          .p_container{
        width: 100%;
        padding: .5em;
        height: auto;
        align-items: center;
      }
      .one_title_wrapper > h2{
        font-size: 24px;
        top: 5%;
  
      }
      .p_container > p{
        font-size: 28px;
        padding: .5em;
      }
  
  
  }
  
 /* TWO */ /* TWO */ /* TWO */ /* TWO */ /* TWO */ /* TWO */

  .slides_services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 100%;
    padding: 1em;
    position: relative;
  }
  .two {
    display: flex;
    height: 1600px;
    background-color: lightslategray;
    padding: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    background-color:cream;
    top:0;
  }
  
  .two > h2 {
    position: absolute;
    font-family: 'Handjet';
    border: gray 1px solid;
    padding: .5em;
    font-size: 32px;
    top:10%;
    z-index: 1;
    color: black;
    width: fit-content;
    align-self: center;
    border-radius: 30px;
    font-weight: 400;
  }

  .p_container2{
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .p_container2 > h3{
    font-size: 32px;
    font-family: 'Handjet';
    font-weight: 400;
    padding-block: 1em;


  }
  .p_container2 > p{
    font-size: 28px;
    grid-area: two;

  }
  
 
@media(max-width: 600px){

  .tech h1{
    font-size: 32px;
  }
}
/* FOUR *//* FOUR *//* FOUR *//* FOUR *//* FOUR *//* FOUR *//* FOUR *//* FOUR */

  .four{
    display: flex;
    flex-direction: column;
    min-height: 800px;
    text-transform: uppercase;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 5%;
    z-index: 1;
    height:1600px;
  }
  
  .four div{
    width: fit-content;
  }

  .four div:nth-child(odd){
    transform: translateX(200%) ;
  }
  .four div:nth-child(even){
    transform: translateX(-200%) ;
  }
  .four h1{
    color: white;
    font-size: 100px;
    font-weight: bold;
  }

  @media(max-width: 600px){
    .four h1{
      font-size: 32px;
    }
  }