.link_container{

    width: fit-content;
    display: flex;
    height: 300px;
    justify-content:space-evenly;
    flex-direction: column;
    align-items: center; 
    text-transform: capitalize;
    color: var(--gold);
    font-family: 'Rajdhani', sans-serif;
    font-size: 28px;


}
.links{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
    text-transform: capitalize;
    color: lightgray;
   
}

.link{
    font-size: 17px;
    
   
   

}
a{
    list-style: none;
    text-decoration: none;
    padding:10px;
    color:lightgray;
   
}

a:hover{
    color:var(--gold);
}

@media (max-width: 600px){

    .link_container{
      
        align-items: center;
        justify-content: center;

    }

    .links{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5px;
        
    }

}