.home_container{
    display: flex;
    overflow-x: hidden;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    }

    @media (max-width: 600px) {
        .home_container{
            margin: 0;
            /* background-color: red; */
          
        }


    }
