.menu_container{
    z-index: 999;
    top:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: right;
    background-color: black;

    
   
}

@media (max-width: 600px) {

    .menu_container{
        box-sizing: border-box;
        position: relative;
        z-index: 99999;

    }


}