.cta_container{
  display: flex;
  width: 95%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  gap: 2em;
  background-color: rgba(250, 250, 250, 0.05);
  border: rgba(128, 128, 128, .3) 0.5px solid ;
}

.cta_container > h1{

  color: whitesmoke;
  text-align: center;
  font-size: 36px;
}
.cta_container h1 span{

  color: gray;
}

.footer_cta_button{

  height: fit-content;
  width: fit-content;
  padding: 1.5em;
  background-color: var(--orange);
  color: whitesmoke;
  border-radius: 30px;
  font-size: 16px;
  filter: brightness(100%) saturate(125%);
  font-family: 'Ranade', sans-serif;
  cursor: pointer;
  border: none;
  transition: .3s;
}

.footer_cta_button:hover{
  
  transition: .3s;
  scale: 1.025;
  filter: brightness(90%);
  
}


.footer_container {
    
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 800px;
  /* background-color: #1C1D20; */
  background-color: var(--primary-color);
  justify-content: space-evenly;
  align-items: center; 
  
  }
.footer_text_wrapper{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: gray;
  gap:10px;
}
.footer_text_wrapper > h4:nth-of-type(1){

  font-weight: 400;
  color: whitesmoke;

}
.footer_text_wrapper > h3{

  font-weight: 500;
  font-size: 16px;
}

@media(max-width: 600px){
  .cta_container{

    padding-block: 5em;
    gap: 2em;
  }
  .cta_container > h1{

    font-size: 24px;
  }
}
  