.footerCtaContainer{
  display: flex;
  width: 95%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2em;
  height: 500px;
  gap: 2em;
 
}
.footerCtaContainer > h1{
  font-size: 40px;
  text-align: center;
  color: white;
  margin: 1em;

}
.footerCtaContainer> h1 span{
  font-size: 100px;
}
.footerCtaContainer> h2{

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  filter: brightness(90%);
  color: white;
}

.footerNavContainer{

  width: auto;
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
  align-items: center;
 
}
.footerNavContainer> h2{

  color: white;
  font-weight: 700;
  width: fit-content;
  text-transform: uppercase;
  margin-block: .5em;
  font-size: 18px;
}

.footerLinksWrapper{
  position: relative;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  font-size: 12px;

  align-items: flex-start;
  padding-block: 2em;
  background-color: #181818;

}

.footerLinksWrapper::before{
  content: '';
  background-color: gray;
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
}


.footerSocialContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: auto;
  padding:1em;
}

.footerSocialContainer > h2{

  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 700;
  margin-block: .5em;
}
.footerContainer {
    
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: auto;
  /* background-color: #1C1D20; */
  background-color: var(--primary-color);
  justify-content: space-evenly;
  align-items: center; 
  padding-top: 3em;
  gap: 2em;
  flex-wrap: nowrap;
  z-index: 1;
  }

.footerTextWrapper{

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  color: gray;
  width: auto;
  gap: 5px;
  padding-block: 1.5em;


}
.footerTextWrapper > h4:nth-of-type(1){

  font-weight: 400;
  color: whitesmoke;

}
.footerTextWrapper > h2{

  font-weight: 500;
  font-size: 18px;
 
}

.link a{

  text-decoration: none;
  color: gray;
  font-size: 12px;
  user-select: none;
}

.link a:hover{
  color: whitesmoke;
  transition: .3s;

}
.toolsContainer{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-block: 1em;
  width: auto;
  align-self: flex-start;
  
}
.toolsContainer > h3{

  color: whitesmoke;
  font-weight: 700;
  margin-block: .5em;
}

@media(max-width: 600px){

  .footerLinksWrapper{

    flex-direction: column;
    padding: .5em;
    gap: 1em;
    align-items: center;
  }

  .footerNavContainer{
    justify-content: center;
    align-items: end;
    width: 100%;
  }

  .footerNavContainer > h2{

    align-self: flex-start;
  }

  .footerSocialContainer{
    width: 100%;

  }
  .footerSocialContainer > h2{
    align-self: flex-start;
  }
  .footerContainer{

    height: auto;
    padding-top: 1em;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: nowrap;

  }
  .footerCtaContainer{

    padding-block: 3em;
    gap: 2em;
  }
  .footerCtaContainer> h2{

    font-size: 24px;
  }

  .footerTextWrapper{

    align-items: center;
    align-self: center;
    padding: 2em;
    
  }
  .toolsContainer{

    padding: 1em;
  }

}
  