.headerContainer{
  position: fixed;
  width:100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 8888;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  height: 100px;
  z-index: 99999;
  top: 0;
  opacity: 0;
  padding-inline: 2%;
}

.logoWrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 60px;
  z-index: 99999;  
  transition: .3s;
  border-radius: 7px;
}
.navLinksWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-inline: 1em;
  border-radius: 7px;
  height: 60px;
  z-index: 9999;
}
.socialsWrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: fit-content;
  z-index: 9999;
}

@media (max-width: 600px) {

.headerContainer{
  position: fixed;
  top:0;
  z-index: 9999;
  width: 100vw;
  height: 60px;
}  


.headerContainer::after{
  content: '';
  transform: translate(50%, 50%);
  right: 50%;
  width: 90%;
  height:1px;
  bottom: 0;
  position: absolute;
  z-index: -1;
  background-color: rgba(211, 211, 211, .2);
}

.menuWrapper{
  width: auto;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.navLinksWrapper{
  padding-inline: 0;
}

}
