.header_container{
  position: fixed;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 8888;
  display: flex;
  flex-direction: row;
  height: 60px;
  z-index: 99999;
  top: 0;
  opacity: 0;
  margin-inline-start: 5%;
  margin-block-start: 1%;
  background-color: transparent;
  box-shadow: 0px 4px 15px -3px rgba(0,0,0,0.1);
  
}


/* .navlinks_wrapper{
  margin-inline-end: 5% ;
  padding-inline: 2%;
} */

.logo_wrapper{

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  height: 60px;
  width: 60px;
  z-index: 99999;  
  transition: .3s;
  padding-inline: 1em;
  border-radius: 7px;
}
.navlinks_wrapper{

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-inline: 1em;
}
.toggle_wrapper{

  border: 1px gray solid;
  width: 55px;
  width: auto;
  margin: 0;
  top:0;
  right:0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
}


@media (max-width: 600px) {

.header_container{

  justify-content: space-between;
  position: fixed;
  background-color: transparent;
  mix-blend-mode: difference;
  top:0;
  z-index: 9999;
  height: 50px;
  width: 100vw;
  margin-inline-start: 0;
  margin-block-start: 0;
  padding-inline: 5%;
}  
.header_container::before{

  background-color: var(--primary-color);
}


.header_container::after{
  content: '';
  transform: translate(50%, 50%);
  right: 50%;
  width: 90%;
  height:1px;
  bottom: 0;
  position: absolute;
  z-index: -1;
  background-color: rgba(211, 211, 211, .2);

}

.logo_wrapper{
  padding-inline: 0;
  background-color: transparent;
  border: none;
}
.menu_wrapper{

  width: auto;
}

}
