.preloader_container{
    z-index: 99999;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
    justify-content: center;
    overflow: hidden;
    z-index: 99999999;
}
.preloader_logo{
    opacity: 0;
    color:whitesmoke;
    align-self: center;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 75px;
    font-weight: 900;
    padding: 1em;
    
}

.preloader_logo span{
    font-style: italic;
}

@media (max-width: 600px){

    .preloader_logo{
        font-size: 50px;
    }
}