.site_logo_container{

    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width: auto;
    height: fit-content;
    top:0;
}

.logo{
    cursor:pointer;
    font-family: 'Clash Display', sans-serif;
    font-size:16px;
    font-weight:500;
    color: lightgray;
    user-select: none;
    letter-spacing: -1px;
    }
.logo span{
     font-style: italic;
}
@media (max-width:600px){

    .site_logo_container{
      
      position: relative;
      margin-block: 20px;  
      color: white;
      fill: white;
      width:fit-content;
      

    }

  }