
:root{
    --gold: #FFB600;
    --primary-color: #101214;
    --orange: #a84916;
    --gray: #6d6d6d;
    --print-black: #212427;

}
body {
   margin: 0;
   font-family: 'Inter', sans-serif;
    font-weight: 400;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   position: relative;
   min-height: 100vh; 
   overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



