
:root{
    --gold: #FFB600;
    --primary-color: #101214;
    --orange: #a84916;
    --gray: #6d6d6d;
    --print-black: #212427;
    --red: #BC2524;

}
.content{
  text-transform: capitalize;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: auto;
  width: 100%;
  gap: 20px

}

body {
   margin: 0;
   font-family: 'Inter', sans-serif;
    font-weight: 400;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   position: relative;
   min-height: 100vh; 
   overflow-x: hidden;
   transition-duration: .3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



